<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Template Engine Rendering Speed Test</title>
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/highcharts.js"></script>

    <script src="lib/template-web.js"></script>
    <script src="js/doT.min.js"></script>
    <script src="js/ejs.min.js"></script>
    <script src="js/handlebars.js"></script>
    <script src="js/mustache.min.js"></script>
    <script src="js/pug.min.js"></script>
    <script src="js/swig.min.js"></script>
    <!--<script src="../../build/shtm.js"></script>-->
    <script src="../../build/shtm_fn.js"></script>


    <script>


        Highcharts.setOptions ({
            colors: ['#EF6F65', '#F3AB63', '#F8D56F', '#99DD7A', '#74BBF3', '#CB93E0', '#A2A2A4', '#E1AC65', '#6AF9C4']
        });

    </script>


    <!-- art-template || ejs || lodash-template || underscore-template -->
    <script id="art-template" type="text/tmpl">
<ul>
    <% for (var i = 0, l = list.length; i < l; i ++) { %>
        <li>User: <%= list[i].user %> / Web Site: <%= list[i].site %></li>
    <% } %>
</ul>


    </script>
    <script id="ejs" type="text/tmpl">
<ul>
    <% for (var i = 0, l = list.length; i < l; i ++) { %>
        <li>User: <%= list[i].user %> / Web Site: <%= list[i].site %></li>
    <% } %>
</ul>
    </script>


    <!-- pug -->
    <script id="Jade" type="text/tmpl">
ul
    -for (var i = 0, l = list.length; i < l; i ++) {
        li User: #{list[i].user} / Web Site: #{list[i].site}
    -}

    </script>

    <!-- doT -->
    <script id="doT" type="text/tmpl">
<ul>
    {{ for (var i = 0, l = it.list.length; i < l; i ++) { }}
        <li>User: {{!it.list[i].user}} / Web Site: {{!it.list[i].site}}</li>
    {{ } }}
</ul>

    </script>

    <!--Mustache -->
    <script id="mustache" type="text/tmpl">
<ul>
    {{#list}}
        <li>User: {{user}} / Web Site: {{site}}</li>
    {{/list}}
</ul>

    </script>

    <script id="mustache-raw" type="text/tmpl">
<ul>
    {{#list}}
        <li>User: {{{user}}} / Web Site: {{{site}}}</li>
    {{/list}}
</ul>

    </script>

    <!--Handlebars  -->
    <script id="handlebars" type="text/tmpl">
<ul>
    {{#list}}
        <li>User: {{user}} / Web Site: {{site}}</li>
    {{/list}}
</ul>

    </script>

    <script id="handlebars-raw" type="text/tmpl">
<ul>
    {{#list}}
        <li>User: {{{user}}} / Web Site: {{{site}}}</li>
    {{/list}}
</ul>

    </script>

    <!--swig  -->
    <script id="swig" type="text/tmpl">
<ul>
    {% for key, value in list %}
        <li>User: {{value.user}} / Web Site: {{value.site}}</li>
    {% endfor %}
</ul>

    </script>

    <script id="swig-raw" type="text/tmpl">
<ul>
    {% for key, value in list %}
        {% autoescape false %}<li>User: {{value.user}} / Web Site: {{value.site}}</li>{% endautoescape %}
    {% endfor %}
</ul>

    </script>
    <script id="shtm" type="text/tmpl">
<ul>
   <c:forEach items="${list}" var="item">
    <li>${item.user}/Web Site:${item.site}</li>
   </c:forEach>
</ul>

    </script>

    <style id="style">
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 16px;
            line-height: 1.5;
            word-wrap: break-word;
        }

        #app .header {
            padding: 10px 20px;
            background: #eee;
        }

        #app .header .item {
            margin-bottom: 5px;
        }

        #app input[type=number] {
            max-width: 4em;
        }

        #app ul {
            padding-left: 0;
        }
    </style>
</head>

<body>

<div id="app"></div>
<script id="body" type="text/tmpl">
    <h1>模版性能测试</h1>
    <div class="header">
        <div class="item">
            <label><input type="number" value="${data_length}" name="data_length"> (数据长度)</label>
            <strong>×</strong>
            <label><input type="number" value="${calls}"> （执行次数）</label>
            <label><input type="number" value="${node_repeat}" name="node_repeat"> 节点重复次数</label>
            <label><input type="number" value="${str_repeat}" name="str_repeat"> 文本填充次数</label>
            <label><input type="checkbox" <c> > cache</label>
        </div>
        <div class="item">
            <button id="button-start">Run Test&raquo;</button>
            <button id="button-restart" style="display:none">Restart</button>
            <span id="log">

            </span>
        </div>
    </div>
    <div id="container" style="min-width: 400px; margin: 0 auto">
        <ul>
        <c:forEach items="${option.testList}" var="item">
        <li>${item}</li>
        </c:forEach>
        </ul>
    </div>

</script>
<script>
    (function () {
        var option = {
            // 列表条数
            data_length: 20,
            // 渲染次数
            calls: 2048,
            // 是否编码
            escape: true,
            // 是否缓存
            cache: false,
            // 填充字符串
            full_str: "    abcdefghijklmnopqrstuvwxyz,./`1234567890~!@#$%^&*()-+",
            // 字符串重复数量
            str_repeat: 100,
            // 节点重复数量
            node_repeat: 100,
        }
        var fn = shtm.compile (document.getElementById ('body').innerHTML);
        console.log (fn (option))
        document.getElementById ('app').innerHTML = fn (option);
//        document.getElementById ('button-start').onclick = function () {
//            var elem = this;
////            this.disabled = true;
//            runTest (function () {
//                elem.style.display = 'none';
//                document.getElementById ('button-restart').style.display = '';
//            });
//        };

//        document.getElementById ('button-restart').onclick = function () {
//            location.reload ();
//        };
    }) ();
</script>
<script src="main.js"></script>
</body>

</html>