<% if (test1) { %>
    <% if (test2) { %>
        <p>if 语句测试</p>
    <% } %>
<% } %>

<c:if test="test1">
    <c:if test="test2">
        <p>if </p>
    </c:if>
</c:if>

{{#if title}}
<p>if 语句测试</p>
{{/if}}


"if(list1.length){str+='<p>if 语句测试</p>'}"

<c:if test="test1">
    <p>if </p>
</c:if>
